body{
    background-color: #865899;
}

ul{
    margin: 100px auto;
    width: 800px;
}

ul li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
}
ul li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #865899;
    cursor: pointer;
}

ul li label span{

    font-size: 22px;
    color: #865899;

}

ul label + input[type ="radio"]{
    display: none;
}

ul .items{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

ul label + input[type ="radio"]:checked + .items{
    max-height: none;
}

.layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
#title{
    width: 65%;
}

#tag{
    min-width: 100%;
    max-width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-bottom: #525252 2px solid;
    height: 40px;
    text-align: left;
    display: block;
    text-overflow: ellipsis;
}
#check {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 15%;
    height: 40px;

}
#del{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60px;
    width: 60px;
}

#del button{
    background-color: #865899;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

input[type=checkbox]
{
    transform: scale(2);
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

/*for add buttons*/
.add{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
}
.addbutton{
    background-color: white;
    color: #865899;
    border: none;
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
.material-symbols-outlined { font-size: 40px; }