<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel ="stylesheet" href = "style.css">
</head>
<body>
<div><img src="" width="100px" height="100px"></div>
<ul>
    <li>
        <label for= "all">All Tasks <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="all" checked>
        <div class ="items" >
            <div class="layout" th:each="activity: ${session.activity}">
                <form id ="title" action ="/id" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button id="tag" th:text="${activity.getTitle()}">SOMETHING HAS TO BE HEREhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</button>
                </form>
                <form id= "check" action ="/done" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <input type ="checkbox" th:checked="${activity.getStatus().toString() == 'DONE'}" th:disabled="${activity.getStatus().toString() == 'DONE'}" onChange="this.form.submit()">
                </form>
                <form id ="del" action ="/delete" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button ><span class="material-symbols-outlined">
delete
</span></button>
                </form>
            </div>
        </div>
    </li>
    <li>
        <label for= "inProgress">In Progress <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="inProgress">
        <div class ="items" >
            <div class="layout" th:each="activity: ${session.activity}" th:if ="${activity.getStatus().toString() =='INPROGRESS'}" >
                <form id="title" action ="/id" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button id="tag" th:text="${activity.getTitle()}"></button>
                </form>
                <form id= "check" action ="/done" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <input type ="checkbox" th:checked="${activity.getStatus()=='DONE'}" th:disabled="${activity.getStatus() =='DONE'}" onChange="this.form.submit()">
                </form>
                <form id ="del" action ="/delete" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button ><span class="material-symbols-outlined">
delete
</span></button>
                </form>
            </div>
        </div>
    </li>
    <li>
        <label for= "pending">Pending <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="pending">
        <div class ="items" >
            <div class="layout" th:each="activity: ${session.activity}" th:if ="${activity.getStatus().toString()=='PENDING'}">
                <form id="title" action ="/id" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button id= "tag" th:text="${activity.getTitle()}"></button>
                </form>
                <form id= "check" action ="/done" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <input type ="checkbox" th:checked="${activity.getStatus().toString() == 'Done'}" th:disabled="${activity.getStatus().toString() == 'Done'}" onChange="this.form.submit()">
                </form>
                <form id ="del" action ="/delete" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button ><span class="material-symbols-outlined">
delete
</span></button>
                </form>
            </div>
        </div>
    </li>
    <li>
        <label for= "done">Done <span>&#x3e;</span></label>
        <input type="radio" name="accordion" id="done">
        <div class ="items" >
            <div class="layout" th:each="activity: ${session.activity}" th:if ="${activity.getStatus().toString()=='DONE'}" >
                <form id="title" action ="/id" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button id ="tag" th:text="${activity.getTitle()}"></button>
                </form>
                <form id= "check" action ="/done" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <input type ="checkbox" th:checked="${activity.getStatus().toString() == 'DONE'}" th:disabled="${activity.getStatus().toString() == 'DONE'}" onChange="this.form.submit()">
                </form>
                <form id ="del" action ="/delete" method="post">
                    <input hidden name="id" th:value="${activity.getActivityId()}">
                    <button ><span class="material-symbols-outlined">
delete
</span></button>
                </form>
            </div>
        </div>
    </li>
</ul>
<div class="add">
    <form action ="/new" method="post">
<button class="addbutton" formaction="/new"><span class="material-symbols-outlined">
assignment_add
</span></button>
    </form>
</div>
</body>
</html>