    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ActivityPlus</title>
    </head>
    <body>
        <div class ="topnav">
            <img src ="" alt="company logo">
        </div>
        <form action ="/user/login" method="post">
            <div id ="lHeader"><h1>Welcome to ActivityPlus</h1>
                <p>please login</p>
            </div>
            <div id ="lBody">
                <div>
                    <div>
                    <label for="email">Email: </label>
                    <input id="email" name = "email" type ="email" placeholder="Enter your email">
                    </div>
                    <div>
                    <label for="password">Password: </label>
                    <input id="password" name = "password" type ="password" placeholder="Enter your password">
                    </div>
                    <div id="error" th:if="${error != null}">
                        <p th:text ="${error}"></p>
                    </div>
                    <button type="submit"> Login </button>
            </div>
            <div id ="lFooter">
                Dont have an Account? <a href="/user/register">Sign Up</a> to enjoy our amazing features
            </div>
        </form>
    </body>
    </html>